.center-fillSearch{
    display: flex;
    flex-direction: column;
    background-color: #161616;
    padding: 30px 90px 300px
     ;
    
} 
.flex-fillSearch{
    display: flex;
    margin-bottom: 20px;
}
.input-fillSearch{
    width: 600px;
    height: 50px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight:900;
}
.square-fillSearch-button{
    width: 50px;
    height: 50px;
    background: #AF2E1C;
    border: 5px solid #AF2E1C;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 0px;
    margin-left: 20px;
    cursor: pointer;
}
.since-fillSearch{
    width: 20%;
    padding: 30px;
}
.fill-search{
    width:80%;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.anytime-fillSearch{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #AF2E1C;
}
.select-anytime{
    width: 160px;
    height: 34px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
}
